@font-face {
  font-family: 'Aniron';
  src: url('../assets/fonts/Aniron.ttf') format('truetype');
  font-display: swap;
}
body {
  margin: 0;
  font-family: 'Aniron', serif;
  background-color: #2d2d2a;
  background-image: url('../assets/img/map_bg.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #7c7a7a;
}
.rk button.active {
  background-color: #d4af37;
  border-color: #d4af37;
  color: black;
  box-shadow: 0 0 0 3px rgba(212, 175, 55, 0.2) inset;
}
